@import "_reset-src";

$font-stack: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
$background-color: black;
$foreground-color: blue;
$text-color: white;

html{
  height: 100%;
  body {
    background-color: $background-color;
    color: $text-color;
    font: 100% $font-stack;
    height: 100%;
    overflow: hidden;
    #app{
      height: 100%;
      .page {
        height: 100%;
        width: 100%;
        display: table;
        .toolbar {
          display: table-row;
          background-color: lighten($background-color, 10%);
        }
        .middle {
          display: table-row;
          height: 100%;
          background-color: lighten($background-color, 0%);
          #sizeTracker{
            width: 100%;
            min-height: 100%;
          }
          #stage{
            position: absolute;
            width: 0;
            height: 0;
            svg{
            }
          }
        }
        .statusBar {
          display: table-row;
          background-color: lighten($background-color, 10%);
        }
      }
    }
  }
}
