@import "_reset-src";

$font-stack: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
$background-color: black;
$foreground-color: #44aaee;
$text-color: white;
$property-panel-width: 300px;
$property-panel-padding: 20px;
$property-panel-close-width: 30px;

@mixin anchor-button($padding){
  background: $background-color;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  padding:$padding;
  color: darken($text-color, 30%);
  border: 1px solid lighten($background-color, 10%);
  &:hover{
    background-color: lighten($foreground-color, 20%);
    color: $background-color;
  }
  &.active{
    background-color: $foreground-color;
    color: $background-color;
  }
  &:active{
    background-color: darken($foreground-color, 20%);
    color: $background-color;
  }
}

html{
  height: 100%;
  body {
    background-color: $background-color;
    color: $text-color;
    font: 100% $font-stack;
    height: 100%;
    overflow: hidden;
    #app{
      height: 100%;
      .page {
        height: 100%;
        width: 100%;
        display: table;
        .toolbar {
          display: table-row;
          background-color: lighten($background-color, 10%);
          .toolbar-container {
            padding: 20px;
            .toolbar-group {
              padding-right: 10px;
              display: inline-block;
              .toolbar-radio-button {
                @include anchor-button(10px);
              }
            }
          }
        }
        .middle {
          display: table-row;
          height: 100%;
          background-color: lighten($background-color, 0%);
          #sizeTracker{
            width: 100%;
            min-height: 100%;
          }
          #stage{
            position: absolute;
            width: 0;
            height: 0;
            svg{
            }
          }
        }
        .statusbar {
          display: table-row;
          background-color: lighten($background-color, 10%);
          .statusbar-container{
            margin: 20px;

          }
        }
        #propertyPanel {
          position: absolute;
          top:0px;
          background-color: lighten($background-color, 20%);
          height: 100vh;
          width: $property-panel-width;
          &.hide{
            right: -$property-panel-width;
          }
          &.show{
            right: 0px;
          }
          .close{
            position: absolute;
            display: inline-block;
            left: -$property-panel-close-width;
            top: 30%;
            a{
              @include anchor-button(0);
              width: $property-panel-close-width;
              border: none;
              background-color: lighten($background-color, 20%);
            }
          }
          .scroll {
            height: 100%;
            overflow: auto;
            .padding{
              padding: $property-panel-padding;
              .top{
                .title{
                  text-align: center;
                }
              }
              .middle{
                height: 100%;
                background-color: lighten($background-color, 20%);
                .propertyItem{
                  padding: 10px 0px 10px 0px;
                  border-width: 0px 0px 1px 0px;
                  border-style: solid;
                  border-color: $background-color;
                  .propertyLabel{
                    padding-bottom: 5px;
                  }
                  .location-x, .location-y{
                    width: $property-panel-width/2-20px;
                    display: inline-block;
                    .label, input{
                      display: inline-block;
                    }
                    .label{
                      width: 20px;
                    }
                    input{
                      width: $property-panel-width/2-20px-30px;
                      background-color: lighten($background-color,30%);
                      border: none;
                      color: white;
                      text-align: center;
                    }
                  }
                  .full{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
